<div class="overlay-content">
    <div class="contest-column">
        <div class="overlay-box">
            {% if contest and contest.name %}
                <div class="contest-name">{{ contest.name }}</div>
            {% else %}
                <div class="contest-name">No Contest Selected</div>
            {% endif %}
        </div>
        <div class="overlay-box">
            {% if contest and contest.problems %}
            <table>
                <tr>
                    <td class="rank">#{{ contest.rank }}</td>
                    <td class="solved">{{ contest.solved }}</td>
                    <td class="penalty">{{ contest.penalty }}</td>
                    {% for problem in contest.problems %}
                        <td class="{{ problem.status }}" title="{{ problem.tag }}">{{ problem.index }}</td>
                    {% endfor %}
                </tr>
            </table>
            {% elif contest and contest.error %}
            <div class="contest-name status-message">{{ contest.error }}</div>
            {% else %}
            <div class="contest-name status-message">Waiting for standings</div>
            {% endif %}
        </div>
    </div>
    <div class="submissions-box">
        <div class="submissions">
            <div class="submissions-title">Submission by problem</div>
            {% if contest and contest.submissions and contest.submissions['items'] %}
                {% for submission in contest.submissions['items'] %}
                <div class="submission-row">
                    <div class="submission-cell" title="{{ submission.problem }}">{{ submission.problem }}</div>
                    <div class="submission-cell" title="{{ submission.time }}">{{ submission.time }}</div>
                    <div class="submission-cell submission-result {{ submission.class }}" title="{{ submission.result }}">{{ submission.result }}</div>
                </div>
                {% endfor %}
            {% elif contest and contest.submissions and contest.submissions.error %}
                <div class="submission-row">
                    <div class="submission-cell">{{ contest.submissions.error }}</div>
                    <div class="submission-cell"></div>
                    <div class="submission-cell"></div>
                </div>
            {% else %}
                <div class="submission-row">
                    <div class="submission-cell">Waiting for submissions</div>
                    <div class="submission-cell"></div>
                    <div class="submission-cell"></div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
